NEXT_PUBLIC_GHOSTTAB_MODE=live
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_DEVNET_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_MAGIC_ROUTER_DEVNET_URL=https://devnet-router.magicblock.app
NEXT_PUBLIC_MAGICBLOCK_PRIVATE_PAYMENTS_URL=https://payments.magicblock.app
